
/* header */

header{
    margin-left: 10%;
    margin-right: 10%;
    height: 120px;
}

.rouge{
    background-color: red;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 100%;
    float: left;
    margin-top: 32px;
    
}
.rouge h1{
    margin-left: 50px;
    margin-top: -40px;
}
.logo{
    height: 38px;
}
nav{
    float: right;
    margin-top: 32px;

}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    margin: 0 10px;
    
}

.img1{
    background: url(images/girl.jpg);
    height: 30rem;
    background-size: cover;
    background-position: center;
 background-attachment: fixed; 

}

.img2{
    float: right;
    margin-right: 10rem;

}

.section1{
    background-color: rgba(247,247,247,1 );
     height: 12rem;
     
     padding-top: 10px;
}

.imagA{
    height: 60px;
}
.imagB{
    height: 60px;
}
.imagC{
    height: 60px;
}
.A{
    text-align: center;
    color: red;
    margin: 50px;
}
.B{
    text-align: center;
    color: red;
    margin: 50px;
}
.C{
    text-align: center;
    color: red;
    margin: 50px;
}

.AB{
    height: 20px;
}
.tdtext{
    width: 200rem;
    
}

.section2{

        text-align: center;
}

span{
    color: red;
}